<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/">BeatsWorld</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/beats">Beats</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-3" style="padding-left:10px; "type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>
          
          </div>
        </div>
          <div class="mobile">
            <div class="mainHeader" style=" min-width:100vw ;display: flex; justify-content: space-between; align-items: center;">
          
            <div class="logo">
              <a class="navbar-brand" style=" color:rgb(220, 244, 255);" routerLink="/">BeatsWorld</a>
            </div>
            <div class="mymenuoption" *ngIf="!menuShow;else close">
            <p class="" style="padding-top:0.5rem;" (click)="showMenu()">Menu</p>
           </div>
           <ng-template class="mymenuoption" #close>
            <p class="" style="padding-top:0.5rem;" (click)="showMenu()">Close</p>
           </ng-template>
          </div>
          <div class="" [ngClass]="[navStyle]" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/" (click)="showMenu()">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/beats" (click)="showMenu()">Beats</a>
              </li>
            </ul>
          </div>
          </div>
        
      </nav>
</div>